[buildout]
develop = .
parts = test compattest compattest-trunk

[test]
recipe = zc.recipe.testrunner
eggs = z3c.recipe.compattest[test]

# for debugging
[compattest]
recipe = z3c.recipe.compattest
include = z3c.recipe.compattest
exclude = zope.container

[compattest-trunk]
recipe = z3c.recipe.compattest
include = zope.dottedname
use_svn = true
exclude = zope.container
